@import "tailwindcss";


html{
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sky-blue: #00e7f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
    --sky-blue: #00e7f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-pink {
  text-shadow: 0px 4px 4px #FC004E;
}

.shadow-cyan {
  box-shadow: 2px 2px 10px 0px #00E7F9;
}
